server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: booking
          uri: lb://BOOKING-SERVICE
          predicates:
            - Path=/api/bookings/**
        - id: hotels
          uri: lb://HOTEL-SERVICE
          predicates:
            - Path=/api/hotels/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
